# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/

# IDE
.idea/
.vscode/
*.iml

# Platform
**/GeneratedPluginRegistrant.*
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Misc
*.log
.DS_Store
_tmp/
